PORT=3000
DATABASE_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/epas?retryWrites=true&w=majority
ADMIN_USER=admin
ADMIN_PASS=changeme
MAINTENANCE_MODE=false
MAINTENANCE_MESSAGE="Site in maintenance mode!"
