.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/6909624-0.jpeg');
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 900px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 315px auto 0 0;
}

.u-section-1 .u-text-2 {
    margin: 30px 314px 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 742px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 57px;
        margin-right: 57px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 568px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 426px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 268px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 31px;
        margin-right: 31px;
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 656px;
}

.u-section-2 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 350px;
    grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-image-1 {
    width: 240px;
    height: 240px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    --radius: 10px;
    margin: 0 auto;
}

.u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.u-section-2 .u-btn-1 {
    background-image: none;
    font-weight: 700;
    padding: 0;
}

.u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-image-2 {
    width: 240px;
    height: 240px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    --radius: 10px;
    margin: 0 auto;
}

.u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
}

.u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px;
}

.u-section-2 .u-image-3 {
    width: 240px;
    height: 240px;
    object-position: 50% 94.17%;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    --radius: 10px;
    margin: 0 auto;
}

.u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
}

.u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
    padding: 30px;
}

.u-section-2 .u-image-4 {
    width: 240px;
    height: 240px;
    object-position: 50% 94.17%;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 auto;
}

.u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.u-section-2 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
    padding: 30px;
}

.u-section-2 .u-image-5 {
    width: 240px;
    height: 240px;
    object-position: 50% 94.17%;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 auto;
}

.u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
}

.u-section-2 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
    padding: 30px;
}

.u-section-2 .u-image-6 {
    width: 240px;
    height: 240px;
    object-position: 50% 94.17%;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 auto;
}

.u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
}

.u-section-2 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(3, 33.333333333333336%);
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-1 {
    border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-1 {
    border-color: transparent !important;
}

.u-container-layout:hover > .u-section-2 .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-2 {
    border-color: transparent !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-2 {
    border-color: transparent !important;
}

.u-container-layout:hover > .u-section-2 .u-image-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-image-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-3 {
    border-color: transparent !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-3 {
    border-color: transparent !important;
}

.u-container-layout:hover > .u-section-2 .u-image-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-image-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-4 {
    border-color: transparent !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-4 {
    border-color: transparent !important;
}

.u-container-layout:hover > .u-section-2 .u-image-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-image-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before,
.u-section-2 .u-image-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-5 {
    border-color: transparent !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-5 {
    border-color: transparent !important;
}

.u-container-layout:hover > .u-section-2 .u-image-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-image-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before,
.u-section-2 .u-image-6 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-6 {
    border-color: transparent !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
    transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-6 {
    border-color: transparent !important;
}

.u-container-layout:hover > .u-section-2 .u-image-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-image-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 735px;
}

.u-section-3 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
    margin-top: 24px;
    margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
    min-height: 98px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
    padding: 16px 10px;
}

.u-section-3 .u-btn-1 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 12px auto 0;
}

.u-section-3 .u-container-layout-2 {
    padding: 16px 10px;
}

.u-section-3 .u-btn-2 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 12px auto 0;
}

.u-section-3 .u-container-layout-3 {
    padding: 16px 10px;
}

.u-section-3 .u-btn-3 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 12px auto 0;
}

.u-section-3 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

.u-section-3 .u-list-2 {
    margin-top: 24px;
    margin-bottom: 60px;
}

.u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 375px;
    grid-gap: 10px;
}

.u-section-3 .u-container-layout-4 {
    padding: 30px;
}

.u-section-3 .u-group-1 {
    --radius: 50px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 505px;
    min-height: 315px;
}

.u-section-3 .u-container-layout-5 {
    padding: 30px 0;
}

.u-section-3 .u-image-1 {
    width: 457px;
    height: 111px;
    --radius: 20px;
    margin: 0 auto;
}

.u-section-3 .u-text-2 {
    margin: 12px 30px 0 24px;
}

.u-section-3 .u-text-3 {
    margin: 0 30px 0 24px;
}

.u-section-3 .u-text-4 {
    font-size: 0.9375rem;
    margin: 9px 96px 0 24px;
}

.u-section-3 .u-container-layout-6 {
    padding: 30px;
}

.u-section-3 .u-group-2 {
    --radius: 50px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 505px;
    min-height: 315px;
}

.u-section-3 .u-container-layout-7 {
    padding: 30px 0;
}

.u-section-3 .u-image-2 {
    width: 457px;
    height: 111px;
    --radius: 20px;
    margin: 0 auto;
}

.u-section-3 .u-text-5 {
    margin: 12px 30px 0 24px;
}

.u-section-3 .u-text-6 {
    margin: 0 30px 0 24px;
}

.u-section-3 .u-text-7 {
    font-size: 0.9375rem;
    margin: 9px 96px 0 24px;
}

.u-section-3 .u-container-layout-8 {
    padding: 30px;
}

.u-section-3 .u-group-3 {
    --radius: 50px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 505px;
    min-height: 315px;
}

.u-section-3 .u-container-layout-9 {
    padding: 30px 0;
}

.u-section-3 .u-image-3 {
    width: 457px;
    height: 111px;
    --radius: 20px;
    margin: 0 auto;
}

.u-section-3 .u-text-8 {
    margin: 12px 30px 0 24px;
}

.u-section-3 .u-text-9 {
    margin: 0 30px 0 24px;
}

.u-section-3 .u-text-10 {
    font-size: 0.9375rem;
    margin: 9px 96px 0 24px;
}

.u-section-3 .u-container-layout-10 {
    padding: 30px;
}

.u-section-3 .u-group-4 {
    --radius: 50px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 505px;
    min-height: 315px;
}

.u-section-3 .u-container-layout-11 {
    padding: 30px 0;
}

.u-section-3 .u-image-4 {
    width: 457px;
    height: 111px;
    --radius: 20px;
    margin: 0 auto;
}

.u-section-3 .u-text-11 {
    margin: 12px 30px 0 24px;
}

.u-section-3 .u-text-12 {
    margin: 0 30px 0 24px;
}

.u-section-3 .u-text-13 {
    font-size: 0.9375rem;
    margin: 9px 96px 0 24px;
}

.u-section-3 .u-gallery-nav-3 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

.u-section-3 .u-gallery-nav-4 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

@media (max-width: 1199px) {
    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(33.333333333333336% - 6.66667px);
        grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    }

    .u-section-3 .u-group-1 {
        width: 450px;
        margin-left: -22px;
        margin-right: -22px;
        height: auto;
    }

    .u-section-3 .u-image-1 {
        width: 406px;
        margin-right: 20px;
        margin-left: 24px;
    }

    .u-section-3 .u-text-2 {
        margin-top: 20px;
        margin-bottom: initial;
    }

    .u-section-3 .u-group-2 {
        width: 450px;
        margin-left: -22px;
        margin-right: -22px;
        height: auto;
    }

    .u-section-3 .u-image-2 {
        width: 406px;
        margin-right: 20px;
        margin-left: 24px;
    }

    .u-section-3 .u-text-5 {
        margin-top: 20px;
        margin-bottom: initial;
    }

    .u-section-3 .u-group-3 {
        width: 450px;
        margin-left: -22px;
        margin-right: -22px;
        height: auto;
    }

    .u-section-3 .u-image-3 {
        width: 406px;
        margin-right: 20px;
        margin-left: 24px;
    }

    .u-section-3 .u-text-8 {
        margin-top: 20px;
        margin-bottom: initial;
    }

    .u-section-3 .u-group-4 {
        width: 450px;
        margin-left: -22px;
        margin-right: -22px;
        height: auto;
    }

    .u-section-3 .u-image-4 {
        width: 406px;
        margin-right: 20px;
        margin-left: 24px;
    }

    .u-section-3 .u-text-11 {
        margin-top: 20px;
        margin-bottom: initial;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(50% - 5.0000025px);
        grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    }

    .u-section-3 .u-repeater-2 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }

    .u-section-3 .u-group-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-image-1 {
        width: 402px;
        margin-right: 24px;
    }

    .u-section-3 .u-group-2 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-image-2 {
        width: 402px;
        margin-right: 24px;
    }

    .u-section-3 .u-group-3 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-image-3 {
        width: 402px;
        margin-right: 24px;
    }

    .u-section-3 .u-group-4 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-3 .u-image-4 {
        width: 402px;
        margin-right: 24px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }

    .u-section-3 .u-repeater-2 {
        grid-auto-columns: 100%;
    }

    .u-section-3 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-repeater-1 {
        grid-auto-columns: 100%;
    }

    .u-section-3 .u-group-1 {
        width: 320px;
    }

    .u-section-3 .u-image-1 {
        width: 280px;
        height: 88px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .u-section-3 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-text-3 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-4 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-group-2 {
        width: 320px;
    }

    .u-section-3 .u-image-2 {
        width: 280px;
        height: 88px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-text-6 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-7 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-group-3 {
        width: 320px;
    }

    .u-section-3 .u-image-3 {
        width: 280px;
        height: 88px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .u-section-3 .u-text-8 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-text-9 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-10 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-group-4 {
        width: 320px;
    }

    .u-section-3 .u-image-4 {
        width: 280px;
        height: 88px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .u-section-3 .u-text-11 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-text-12 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-13 {
        margin-right: 0;
        margin-left: 0;
    }
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 760px;
}

.u-section-4 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 544px;
    grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px;
}

.u-section-4 .u-image-1 {
    height: 374px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-2 {
    font-weight: 700;
    margin: 30px auto 0 0;
}

.u-section-4 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-4 .u-btn-2 {
    background-image: none;
    margin: 0 359px 0 0;
    padding: 0;
}

.u-section-4 .u-text-3 {
    margin: 14px auto 0 0;
}

.u-section-4 .u-btn-3 {
    background-image: none;
    padding: 0;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-section-4 .u-image-2 {
    height: 374px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-4 {
    font-weight: 700;
    margin: 30px auto 0 0;
}

.u-section-4 .u-btn-4 {
    background-image: none;
    margin: 0 359px 0 0;
    padding: 0;
}

.u-section-4 .u-text-5 {
    margin: 14px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
    padding: 30px;
}

.u-section-4 .u-image-3 {
    height: 374px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-6 {
    font-weight: 700;
    margin: 30px auto 0 0;
}

.u-section-4 .u-btn-5 {
    background-image: none;
    margin: 0 359px 0 0;
    padding: 0;
}

.u-section-4 .u-text-7 {
    margin: 14px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
    padding: 30px;
}

.u-section-4 .u-image-4 {
    height: 374px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-4 .u-text-8 {
    font-weight: 700;
    margin: 30px auto 0 0;
}

.u-section-4 .u-btn-6 {
    background-image: none;
    margin: 0 359px 0 0;
    padding: 0;
}

.u-section-4 .u-text-9 {
    margin: 14px auto 0 0;
}

.u-section-4 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

@media (max-width: 1199px) {
    .u-section-4 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 5px));
    }

    .u-section-4 .u-image-1 {
        height: 301px;
    }

    .u-section-4 .u-btn-2 {
        margin-right: 159px;
    }

    .u-section-4 .u-image-2 {
        height: 301px;
    }

    .u-section-4 .u-btn-4 {
        margin-right: 159px;
    }

    .u-section-4 .u-image-3 {
        height: 301px;
    }

    .u-section-4 .u-btn-5 {
        margin-right: 159px;
    }

    .u-section-4 .u-image-4 {
        height: 301px;
    }

    .u-section-4 .u-btn-6 {
        margin-right: 159px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }

    .u-section-4 .u-image-1 {
        height: 485px;
    }

    .u-section-4 .u-btn-2 {
        margin-right: 0;
    }

    .u-section-4 .u-image-2 {
        height: 485px;
    }

    .u-section-4 .u-btn-4 {
        margin-right: 0;
    }

    .u-section-4 .u-image-3 {
        height: 485px;
    }

    .u-section-4 .u-btn-5 {
        margin-right: 0;
    }

    .u-section-4 .u-image-4 {
        height: 485px;
    }

    .u-section-4 .u-btn-6 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-repeater-1 {
        grid-auto-columns: 100%;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-1 {
        height: 382px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-2 {
        height: 382px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-3 {
        height: 382px;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-4 {
        height: 382px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 608px;
    }

    .u-section-4 .u-image-1 {
        height: 235px;
    }

    .u-section-4 .u-image-2 {
        height: 235px;
    }

    .u-section-4 .u-image-3 {
        height: 235px;
    }

    .u-section-4 .u-image-4 {
        height: 235px;
    }
}

.u-section-5 {
    background-image: none;
}

.u-section-5 .u-sheet-1 {
    min-height: 750px;
}

.u-section-5 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 58px;
}

.u-section-5 .u-layout-cell-1 {
    min-height: 652px;
    background-image: none;
    --radius: 50px;
}

.u-section-5 .u-container-layout-1 {
    padding: 30px 0;
}

.u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin: 18px 110px 0 134px;
}

.u-section-5 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: -64px auto 0 50px;
}

.u-section-5 .u-text-2 {
    margin: 15px 159px 0 85px;
}

.u-section-5 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-5 .u-text-3 {
    margin: 6px 159px 0 85px;
}

.u-section-5 .u-btn-2 {
    background-image: none;
    padding: 0;
}

.u-section-5 .u-text-4 {
    margin: 6px 159px 0 85px;
}

.u-section-5 .u-btn-3 {
    background-image: none;
    padding: 0;
}

.u-section-5 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: 15px auto 0 50px;
}

.u-section-5 .u-text-5 {
    font-size: 3.75rem;
    margin: -64px 90px 0 134px;
}

.u-section-5 .u-text-6 {
    font-weight: 700;
    margin: 15px 159px 0 85px;
}

.u-section-5 .u-btn-4 {
    background-image: none;
    padding: 0;
}

.u-section-5 .u-text-7 {
    margin: 6px 159px 0 85px;
}

.u-section-5 .u-btn-5 {
    background-image: none;
    font-weight: 700;
    padding: 0;
}

.u-section-5 .u-text-8 {
    margin: 6px 159px 0 85px;
}

.u-section-5 .u-btn-6 {
    background-image: none;
    font-weight: 700;
    padding: 0;
}

.u-section-5 .u-text-9 {
    margin: 6px 159px 0 85px;
}

.u-section-5 .u-btn-7 {
    background-image: none;
    font-weight: 700;
    padding: 0;
}

.u-section-5 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: 15px 447px 0 50px;
}

.u-section-5 .u-text-10 {
    font-size: 3.75rem;
    margin: -64px 30px 0 134px;
}

.u-section-5 .u-text-11 {
    margin: 15px 159px 0 85px;
}

.u-section-5 .u-btn-8 {
    background-image: none;
    padding: 0;
}

.u-section-5 .u-image-1 {
    min-height: 310px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/cropped-cntv-header.png');
    background-position: 50% 50%;
    --radius: 50px;
}

.u-section-5 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-5 .u-layout-cell-3 {
    min-height: 342px;
    --radius: 50px;
}

.u-section-5 .u-container-layout-3 {
    padding: 30px 60px;
}

.u-section-5 .u-text-12 {
    margin: 0 auto 0 0;
}

.u-section-5 .u-text-13 {
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
        min-height: 784px;
    }

    .u-section-5 .u-layout-cell-1 {
        background-position: 50% 50%;
        min-height: 686px;
    }

    .u-section-5 .u-text-1 {
        width: auto;
        font-size: 3.125rem;
        margin-top: 35px;
        margin-right: 30px;
        margin-left: 114px;
    }

    .u-section-5 .u-icon-1 {
        margin-top: -55px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-2 {
        width: 317px;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-text-3 {
        width: 317px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-text-4 {
        width: 317px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-icon-2 {
        margin-top: 35px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-5 {
        width: auto;
        font-size: 3.125rem;
        margin-top: -67px;
        margin-right: 10px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-6 {
        width: 317px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-text-7 {
        width: 317px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-text-8 {
        width: 317px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-text-9 {
        width: 317px;
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-icon-3 {
        margin-top: 35px;
        margin-right: auto;
        margin-left: 35px;
    }

    .u-section-5 .u-text-10 {
        width: auto;
        font-size: 3.125rem;
        margin-top: -66px;
        margin-right: -50px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-11 {
        width: 317px;
        margin-top: 19px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-5 .u-image-1 {
        min-height: 327px;
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 359px;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
        min-height: 832px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 661px;
    }

    .u-section-5 .u-text-1 {
        margin-top: 0;
    }

    .u-section-5 .u-text-2 {
        width: auto;
        margin-top: 21px;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-3 {
        width: auto;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-4 {
        width: auto;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-icon-2 {
        margin-top: 19px;
    }

    .u-section-5 .u-text-6 {
        width: auto;
        margin-top: 30px;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-7 {
        width: auto;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-8 {
        width: auto;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-text-9 {
        width: auto;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-icon-3 {
        margin-top: 26px;
    }

    .u-section-5 .u-text-11 {
        width: auto;
        margin-right: 289px;
        margin-left: 114px;
    }

    .u-section-5 .u-image-1 {
        min-height: 470px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
        min-height: 1324px;
    }

    .u-section-5 .u-layout-wrap-1 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 629px;
    }

    .u-section-5 .u-text-1 {
        font-size: 3rem;
        margin-top: 41px;
        margin-right: -111px;
        margin-left: 112px;
    }

    .u-section-5 .u-icon-1 {
        margin-top: -58px;
    }

    .u-section-5 .u-text-2 {
        margin-top: 16px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-3 {
        margin-top: 8px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-4 {
        margin-top: 8px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-5 {
        font-size: 3rem;
        margin-top: -58px;
        margin-right: -111px;
        margin-left: 112px;
    }

    .u-section-5 .u-text-6 {
        margin-top: 19px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-7 {
        margin-top: 8px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-8 {
        margin-top: 8px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-9 {
        margin-top: 8px;
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-text-10 {
        font-size: 3rem;
        margin-top: -58px;
        margin-right: -111px;
        margin-left: 112px;
    }

    .u-section-5 .u-text-11 {
        margin-right: 153px;
        margin-left: 70px;
    }

    .u-section-5 .u-image-1 {
        min-height: 330px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 214px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
        min-height: 629px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 671px;
    }

    .u-section-5 .u-text-1 {
        margin-top: 39px;
        margin-right: -107px;
        margin-left: 107px;
        font-size: 1.875rem;
    }

    .u-section-5 .u-icon-1 {
        margin-top: -48px;
        margin-left: 23px;
    }

    .u-section-5 .u-text-2 {
        margin-top: 20px;
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-3 {
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-4 {
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-icon-2 {
        margin-top: 23px;
        margin-left: 23px;
    }

    .u-section-5 .u-text-5 {
        margin-top: -50px;
        margin-right: -107px;
        margin-left: 107px;
        font-size: 1.875rem;
    }

    .u-section-5 .u-text-6 {
        margin-top: 37px;
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-7 {
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-8 {
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-text-9 {
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-icon-3 {
        margin-top: 23px;
        margin-left: 23px;
    }

    .u-section-5 .u-text-10 {
        margin-top: -48px;
        margin-right: -107px;
        margin-left: 107px;
        font-size: 1.875rem;
    }

    .u-section-5 .u-text-11 {
        margin-top: 24px;
        margin-right: -12px;
        margin-left: 35px;
    }

    .u-section-5 .u-image-1 {
        min-height: 208px;
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 100px;
    }
}

.u-section-6 {
    background-image: none;
}

.u-section-6 .u-sheet-1 {
    min-height: 1094px;
}

.u-section-6 .u-text-1 {
    margin: 20px auto 0;
}

.u-section-6 .u-group-1 {
    --radius: 30px;
    width: 550px;
    min-height: 426px;
    height: auto;
    margin: 20px auto 0 20px;
}

.u-section-6 .u-container-layout-1 {
    padding: 30px 0;
}

.u-section-6 .u-text-2 {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 auto 0 30px;
}

.u-section-6 .u-btn-1 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 30px 0;
    padding: 0;
}

.u-section-6 .u-btn-2 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-3 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-4 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-5 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-6 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-group-2 {
    --radius: 30px;
    min-height: 426px;
    height: auto;
    width: 550px;
    margin: -426px 0 0 auto;
}

.u-section-6 .u-container-layout-2 {
    padding: 30px 0;
}

.u-section-6 .u-text-3 {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 199px 0 30px;
}

.u-section-6 .u-btn-7 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 30px 0;
    padding: 0;
}

.u-section-6 .u-btn-8 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-9 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-10 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-11 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-btn-12 {
    background-image: none;
    font-size: 1.5rem;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-group-3 {
    --radius: 30px;
    min-height: 232px;
    height: auto;
    width: 550px;
    margin: 30px auto 0 20px;
}

.u-section-6 .u-container-layout-3 {
    padding: 30px 0;
}

.u-section-6 .u-text-4 {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 auto 0 30px;
}

.u-section-6 .u-btn-13 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 30px 0;
    padding: 0;
}

.u-section-6 .u-btn-14 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-group-4 {
    --radius: 30px;
    min-height: 232px;
    height: auto;
    margin-top: 51px;
    margin-bottom: -282px;
}

.u-section-6 .u-container-layout-4 {
    padding: 30px 0;
}

.u-section-6 .u-text-5 {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 auto 0 30px;
}

.u-section-6 .u-btn-15 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 30px 0;
    padding: 0;
}

.u-section-6 .u-btn-16 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px auto 0 30px;
    padding: 0;
}

.u-section-6 .u-group-5 {
    --radius: 30px;
    min-height: 232px;
    height: auto;
    width: 550px;
    margin: -232px 0 60px auto;
}

.u-section-6 .u-container-layout-5 {
    padding: 30px;
}

.u-section-6 .u-text-6 {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 127px 0 0;
}

.u-section-6 .u-btn-17 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 0;
    padding: 0;
}

.u-section-6 .u-btn-18 {
    background-image: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px auto 0 0;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1765px;
    }

    .u-section-6 .u-group-1 {
        height: auto;
    }

    .u-section-6 .u-group-2 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 20px;
        height: auto;
    }

    .u-section-6 .u-group-3 {
        margin-top: 20px;
        height: auto;
    }

    .u-section-6 .u-container-layout-3 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-6 .u-text-4 {
        margin-top: 30px;
    }

    .u-section-6 .u-group-4 {
        margin-top: 303px;
        margin-bottom: -504px;
        height: auto;
    }

    .u-section-6 .u-group-5 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 20px;
        height: auto;
    }

    .u-section-6 .u-text-6 {
        margin-right: 169px;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1758px;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1752px;
    }

    .u-section-6 .u-group-1 {
        width: 540px;
        margin-left: 0;
    }

    .u-section-6 .u-btn-1 {
        margin-right: 20px;
    }

    .u-section-6 .u-group-2 {
        width: 540px;
        margin-left: 0;
    }

    .u-section-6 .u-text-3 {
        margin-right: 194px;
        margin-left: 25px;
    }

    .u-section-6 .u-btn-7 {
        margin-left: 25px;
        margin-right: 25px;
    }

    .u-section-6 .u-btn-8 {
        margin-left: 25px;
    }

    .u-section-6 .u-btn-9 {
        margin-left: 25px;
    }

    .u-section-6 .u-btn-10 {
        margin-left: 25px;
    }

    .u-section-6 .u-btn-11 {
        margin-left: 25px;
    }

    .u-section-6 .u-btn-12 {
        margin-left: 25px;
    }

    .u-section-6 .u-group-3 {
        width: 540px;
        margin-left: 0;
    }

    .u-section-6 .u-btn-13 {
        margin-right: 20px;
    }

    .u-section-6 .u-btn-15 {
        margin-right: 20px;
    }

    .u-section-6 .u-group-5 {
        width: 540px;
        margin-left: 0;
    }

    .u-section-6 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1414px;
    }

    .u-section-6 .u-group-1 {
        min-height: 320px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-btn-1 {
        font-size: 1rem;
        margin-right: 0;
    }

    .u-section-6 .u-btn-2 {
        font-size: 1rem;
    }

    .u-section-6 .u-btn-3 {
        font-size: 1rem;
    }

    .u-section-6 .u-btn-4 {
        font-size: 1rem;
    }

    .u-section-6 .u-btn-5 {
        font-size: 1rem;
    }

    .u-section-6 .u-btn-6 {
        font-size: 1rem;
    }

    .u-section-6 .u-group-2 {
        margin-top: 14px;
        min-height: 319px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-text-3 {
        width: auto;
        margin-right: -11px;
        margin-left: 30px;
    }

    .u-section-6 .u-btn-7 {
        font-size: 1rem;
        margin-right: -142px;
        margin-left: 30px;
    }

    .u-section-6 .u-btn-8 {
        font-size: 1rem;
        margin-left: 30px;
    }

    .u-section-6 .u-btn-9 {
        font-size: 1rem;
        margin-left: 30px;
    }

    .u-section-6 .u-btn-10 {
        font-size: 1rem;
        margin-left: 30px;
    }

    .u-section-6 .u-btn-11 {
        font-size: 1rem;
        margin-left: 30px;
    }

    .u-section-6 .u-btn-12 {
        font-size: 1rem;
        margin-left: 30px;
    }

    .u-section-6 .u-group-3 {
        min-height: 216px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-btn-13 {
        font-size: 1rem;
        margin-right: 0;
    }

    .u-section-6 .u-btn-14 {
        font-size: 1rem;
    }

    .u-section-6 .u-group-4 {
        margin-top: 309px;
        margin-bottom: -438px;
        min-height: 202px;
    }

    .u-section-6 .u-text-5 {
        margin-top: 30px;
    }

    .u-section-6 .u-btn-15 {
        font-size: 1rem;
        margin-right: 0;
    }

    .u-section-6 .u-btn-16 {
        font-size: 1rem;
    }

    .u-section-6 .u-group-5 {
        min-height: 188px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-container-layout-5 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-6 .u-text-6 {
        width: auto;
        margin-top: 30px;
        margin-right: -13px;
        margin-left: 33px;
    }

    .u-section-6 .u-btn-17 {
        font-size: 1rem;
        margin-right: 50px;
        margin-left: 33px;
    }

    .u-section-6 .u-btn-18 {
        font-size: 1rem;
        margin-left: 33px;
    }
}