 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/cropped-cntv-header.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 977px;
}

.u-section-1 .u-group-elements-1 {
  width: 739px;
  min-height: 684px;
  height: auto;
  margin: 147px auto;
}

.u-section-1 .u-image-1 {
  height: 320px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  line-height: 2;
  font-style: italic;
  font-size: 1.625rem;
  font-weight: 400;
  width: 568px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    min-height: 840px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 578px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 454px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 30px;
  height: 452px;
  background-image: none;
  margin: -452px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -351px 80px 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  width: 794px;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 572px;
  }

  .u-section-2 .u-group-1 {
    min-height: 452px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -352px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: -362px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 573px;
  }

  .u-section-2 .u-group-1 {
    min-height: 453px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -392px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 583px;
  }

  .u-section-2 .u-group-1 {
    min-height: 463px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -429px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
    margin-left: 31px;
    margin-right: 31px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 925px;
}

.u-section-3 .u-text-1 {
  width: 631px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  width: 631px;
  margin: 46px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-align: center;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 370px;
  grid-gap: 0px 0px;
  grid-auto-columns: 50%;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

.u-section-4 .u-list-2 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 368px;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 305px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 303px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1057px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 696px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}