.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/9bef7b8fecb78d68d7f28b17054ed1759a7030be9a5c1fd6331c300b90f6196a576383671bc89e7b31d39c5ca53fad8658551672a5c70d3bc8c789_1280.jpg');
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 833px;
}

.u-section-1 .u-shape-1 {
    height: 478px;
    width: 296px;
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin: 69px 274px 0 auto;
}

.u-section-1 .u-group-1 {
    min-height: 578px;
    width: 598px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
    margin: -419px 50px 60px auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Roboto, sans-serif;
    margin: 79px auto 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 5rem;
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 687px;
    }

    .u-section-1 .u-group-1 {
        height: auto;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 598px;
    }

    .u-section-1 .u-shape-1 {
        margin-right: auto;
    }

    .u-section-1 .u-group-1 {
        width: 520px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-shape-1 {
        height: 437px;
        width: 265px;
        margin-right: 120px;
    }

    .u-section-1 .u-group-1 {
        min-height: 319px;
        width: 411px;
        margin-top: -378px;
        margin-right: 20px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-text-2 {
        font-size: 3.75rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-1 .u-shape-1 {
        height: 356px;
        width: 150px;
        margin-right: 75px;
    }

    .u-section-1 .u-group-1 {
        min-height: 238px;
        width: 280px;
        margin-top: -297px;
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        font-size: 2.25rem;
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 624px;
}

.u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 4.375rem;
    margin: 40px auto 0 0;
}

.u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 470px;
    grid-gap: 10px;
}

.u-section-2 .u-image-1 {
    background-image: url("images/WhatsAppImage2024-04-21at3.29.24PM1.jpeg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
    padding: 10px;
}

.u-section-2 .u-image-2 {
    background-image: url("images/WhatsAppImage2024-04-21at3.29.24PM.jpeg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
    padding: 10px;
}

.u-section-2 .u-image-3 {
    background-image: url("images/WhatsAppImage2024-04-21at3.29.23PM.jpeg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
    padding: 10px;
}

.u-section-2 .u-image-4 {
    background-image: url("images/WhatsAppImage2024-04-21at3.29.24PM3.jpeg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
    padding: 10px;
}

.u-section-2 .u-image-5 {
    background-image: url("images/WhatsAppImage2024-04-21at3.29.24PM2.jpeg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
    padding: 10px;
}

.u-section-2 .u-image-6 {
    background-image: url("images/architecturestudio_str2_1.jpeg");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
    padding: 10px;
}

.u-section-2 .u-text-3 {
    margin: 20px 0 30px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-text-2 {
        margin-top: 20px;
        margin-bottom: initial;
    }

    .u-section-2 .u-list-1 {
        margin-bottom: initial;
    }

    .u-section-2 .u-repeater-1 {
        grid-auto-columns: calc(33.333333333333336% - 6.66667px);
        grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
        min-height: 388px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 50vw;
    }

    .u-section-2 .u-text-2 {
        width: auto;
        margin-bottom: 0;
    }

    .u-section-2 .u-list-1 {
        margin-bottom: 0;
    }

    .u-section-2 .u-repeater-1 {
        grid-auto-columns: calc(50% - 5.0000025px);
        grid-template-columns: repeat(2, calc(50% - 5.0000025px));
        min-height: 676px;
    }

    .u-section-2 .u-text-3 {
        width: auto;
        margin-bottom: 33px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1308px;
    }

    .u-section-2 .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }

    .u-section-2 .u-text-3 {
        margin-bottom: 29px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1241px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1.875rem;
        margin-top: 41px;
    }

    .u-section-2 .u-text-2 {
        margin-right: 0;
    }

    .u-section-2 .u-repeater-1 {
        grid-auto-columns: 100%;
    }

    .u-section-2 .u-text-3 {
        margin-bottom: 41px;
    }
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 559px;
}

.u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 4.375rem;
    margin: 40px auto 0 0;
}

.u-section-3 .u-text-2 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 470px;
    grid-gap: 10px;
}

.u-section-3 .u-image-1 {
    background-image: url("images/WhatsAppImage2024-04-21at3.34.21PM.jpeg");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
    padding: 10px;
}

.u-section-3 .u-image-2 {
    background-image: url("images/WhatsAppImage2024-04-21at3.32.59PM.jpeg");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
    padding: 10px;
}

.u-section-3 .u-image-3 {
    background-image: url("images/WhatsAppImage2024-04-21at3.31.38PM.jpeg");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
    padding: 10px;
}

.u-section-3 .u-image-4 {
    background-image: url("images/WhatsAppImage2024-04-21at3.36.16PM.jpeg");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
    padding: 10px;
}

.u-section-3 .u-image-5 {
    background-image: url("images/WhatsAppImage2024-04-21at3.35.02PM.jpeg");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
    padding: 10px;
}

.u-section-3 .u-image-6 {
    background-image: url("images/european-flags-front-europen-parlament-brussels-belgium-scaled.webp");
    background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
    padding: 10px;
}

.u-section-3 .u-text-3 {
    margin: 20px 0 30px;
}

@media (max-width: 1199px) {
    .u-section-3 .u-text-2 {
        margin-top: 20px;
        margin-bottom: initial;
    }

    .u-section-3 .u-list-1 {
        margin-bottom: initial;
    }

    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(33.333333333333336% - 6.66667px);
        grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
        min-height: 388px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1211px;
    }

    .u-section-3 .u-text-2 {
        width: auto;
        margin-bottom: 0;
    }

    .u-section-3 .u-list-1 {
        margin-bottom: 0;
    }

    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(50% - 5.0000025px);
        grid-template-columns: repeat(2, calc(50% - 5.0000025px));
        min-height: 676px;
    }

    .u-section-3 .u-text-3 {
        width: auto;
        margin-bottom: 29px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1247px;
    }

    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }

    .u-section-3 .u-text-3 {
        margin-bottom: 33px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1111px;
    }

    .u-section-3 .u-text-1 {
        font-size: 1.875rem;
    }

    .u-section-3 .u-text-2 {
        margin-right: 0;
    }

    .u-section-3 .u-repeater-1 {
        grid-auto-columns: 100%;
    }

    .u-section-3 .u-text-3 {
        margin-bottom: 40px;
    }
}